body {
  background-color: #fafafa;
  margin: 0;
  height: 100vh;
  color: #3c3c3c;
  font-family: 'Nunito Sans', sans-serif;
}

nav, h1, h2, h3, h4, h5, h6 {
  font-family: 'Indie Flower', cursive;
}

nav ul a {
  font-size: 1.2em;
}

#restaurantName {
  text-align: center;
}

#foodStyle {
  text-align: center;
}

#welcome {
  text-align: center;
  background-color: #e2e2e2;
  padding: 10px 0;
  color: #3c3c3c;
  font-size: 20px;
  background-image: url(https://images.pexels.com/photos/349610/pexels-photo-349610.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
  background-size: cover;
  background-position: 50% 0%;
  font-weight: 700;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
}

td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

.input-group {
  margin: 20px 0px;
}

svg {
  height: 300px;
  width: 400px;
}

.map {
  height: 300px;
  width: 400px;
}

td:first-of-type, td:first-of-type > div {
  height: 200px;
  width: 250px;
}

.brand-logo {
  padding-left: 10px !important;
}

.btn {
  background-color: #e2e2e2;
  color: #3c3c3c;
  font-family: 'Indie Flower', cursive;
}

.btn:hover {
  color: #ffffff;
  background-color: #F2A870;
}

button:focus {
  background-color: #F2A870;
}

input {
  /* background: #fff !important; */
  /* -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5) !important; */
  /* -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.5) !important; */
  /* box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.5) !important; */
  /* padding-left: 10px !important; */
  /* padding-right: 0px !important; */
}


.container {
  max-width: 1200px !important;
  width: 95% !important;
  margin: 0 50 !important;
}

.z-depth-3 {
  height: 500px;
  width: 100%;
  margin: 0 !important;
}

.closeButton {
  margin-bottom: 20px;
  /* float: right; */
  background-color: #AA242B;
  border: 0;
  padding: 10px;
  color: #ffffff;
  vertical-align: middle;
  margin-right: 0;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5) !important;
  -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.5) !important;
  box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.5) !important;
  width: 100%;
}

.priceInput {
  /* float: left; */
  /* max-width: 70%; */
}

.red.lighten-2 {
  color: #ffffff;
}
